@import url('https://fonts.googleapis.com/css?family=Barlow:400,500|BioRhyme&display=swap');

body, section, div {
  font-family: Barlow;
  font-size:22px;
  font-weight: 400;
}
p{
  font-weight: 500;
}
.banner-heading {
  font-family: BioRhyme;
  font-size: 45px;
  font-size: 6vw;
  font-weight: 400;
}

.chart-details--duration {
  margin: 0px 20px 70px 0;
}

.chart-details--savings{
  text-align: center;
  padding: 20px;
}

.chart-details--usage {
  border: 1px solid #242435;
  padding: 0 !important;
}

.chart-details--section{
  padding: 0px !important;
  margin-bottom: -50px;
}

.chart-wrapper{
  position: relative;
}

@media (orientation: landscape) {
  .chart-wrapper canvas{
    min-height: 70vh;
  }
}

@media (orientation: portrait) {
  .chart-wrapper canvas{
    min-height: 20vh;
  }
}

.chart-details--table {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: wrap;
  justify-items: stretch;
  background: white;
}

.chart-details--table-item{
  flex: 0 0 50%;
  padding: 20px;
}

.body-text {
  font-family: Barlow;
  font-size: 38px;
  font-weight: 400;
  text-align: left;
  padding: 10px 0 40px 0;
}

.body-divider {
  border-top: 1px solid #333;
}

.subline-heading,
.text-highlight,
.disclaimer-text {
  margin: 0;
}

.subline-heading {
  font-family: Barlow;
  font-size: 35px;
  font-weight: 500;
}

.text-highlight {
  font-family: Barlow;
  font-size: 70px;
  font-weight: 400;
}

.disclaimer-text {
  font-size: 16px;
}

.bg-teal {
  background-color: #3BA1B5;
  color: #fff;
}

.header--logo-wrapper {
  text-align: center;
}

.header--icon-wrapper {
  text-align: right;
}

.page-intro {
  text-align: center;
}

.page-intro-section {
  text-align: center;
}

.bg-gray {
  background-color: #F0F0F0;
}
.menu-wrapper--container{
  margin-bottom:50px;
}
.menu-wrapper{
  height:50px;
}
.btn.btn-primary {
  border-color: #EF5B4E;
  background-color: #EF5B4E;
  font-size: 40px;
  padding: 20px 60px;
  font-weight: bold;
}

.btn.btn-primary:hover {
  border-color: #e3b6b1;
  background-color: #e3b6b1;
}
.btn.btn-primary:active {
   border-color: #e3b6b1;
   background-color: #e3b6b1;
 }

.btn.btn-primary:visted {
  border-color: #e3b6b1;
  background-color: #e3b6b1;
}

.go2dashboard-section {
  text-align: center;
  margin-top: -50px;
}
.footer--logo-wrapper {
  text-align: center;
  margin: 20px 0 10px 0;
}
.chart-container--usage-n-temp {
  margin-top:25px;
}
.chart-container {
  border: 1px solid #000;
  max-height: 800px;
  border-radius: 4px;
  padding: 20px 8px;
  background-color: white;
}

.disclaimer-section {
  font-size:12px;
  margin-top: 12px;
}
.social-media-icon img {
  height:38px;
  transition: transform .2s;
  padding-right:10px;
}
.social-media-icon img:hover {
  transform: scale(1.5);
}
.header--logo {
  width: 50%;
}
.header--icon {
  width: 80px;
  width: 6%;
  margin-bottom: 60px;
}

.legend {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  margin-right: 20px;
}

.legend span{
  background-color: #EF5B4E;
  display: inline-block;
  height: 18px;
  width: 18px;
  border-radius: 9px;
  margin-right: 8px;
}

.legend li {
  display: inline-block;
  margin-right: 10px;
}

.chart-header-container{
  align-items: center;
  margin-bottom: 30px;
}

.chart-section{
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-disclosure{
  margin-top: 40px
}